/* 최상위 변수 설정 */
:root {
    --color-bg-header: #171544;
    --color-bg-gallery: #2E3035;
}

/* 배경 색, 크기, 전체 설정 */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--color-bg-gallery);
    overscroll-behavior: none;
}

header {
    position: sticky;
    top: 0;
    z-index: 999;
    min-height: 70px;
    width: 100%;
    background-color: var(--color-bg-header);
}

/* 상단 메뉴바 설정 */
.galleryMenu {
    padding: 13px 15px 15px 13px;

    & .bottonUpload {
        gap: 8px;
        width: 100px;
        height: 40px;
        padding-left: 5px;
        border-radius: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        background-color: #1BB76E;
        color: #fff;

        &:hover {
            box-shadow: 2px 2px 10px 1px #fff;
        }

        &::before {
            content: "";
            background-image: url('image/upload.jpg');
            background-size: cover;
            width: 20px;
            height: 20px;
        }
    }

    & .confirm-delete {
        display: none;
        width: 100px;
        height: 40px;
        border-radius: 20px;
        font-size: 20px;
        border: none;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        position: relative;
        background-color: #37474F;
        color: #fff;
        cursor: pointer;

        &:hover {
            box-shadow: 2px 2px 10px 1px #fff;
        }
    }
}

/* 삭제 버튼 설정 */
.del-button {
    height: 45px;
    width: 45px;
    border-radius: 13px;
    right: 10px;
    top: 10px;
    position: absolute;
    border: none;
    cursor: pointer;
    background-color: #fff;

    & .img {
        height: 45px;
        width: 45px;
    }
}

/* 카테고리 설정 */
.galleryCategoryMenu {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 15px 20px 250px 20px;
    background-color: var(--color-bg-header);

    & .Category {
        background: no-repeat top center;
        background-size: contain;
        text-decoration: none;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;

        & .title {
            display: flex;
            justify-content: center;
            background-color: #58595c;

            & .name {
                color: #fff;
            }
        }
    }
}

/* 갤러리 설정 */
.gallery {
    position: relative;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-auto-rows: 225px;
    gap: 40px;
    padding: 10px 80px;
    z-index: 5;
    margin-top: -200px;
    grid-auto-flow: dense;
    color: #fff;

    & .cardGallery {
        border-radius: 8px;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        position: relative;
        background-color: #474A51;
        box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.5);

        & .image {
            width: 100%;
            flex: 2;
            min-height: 0;
            object-fit: cover;
            display: block;
            cursor: pointer;
        }

        & .info-text {
            padding: 10px;
            flex-shrink: 0;
            height: 65px;
            align-items: center;
            display: -webkit-box;
            -webkit-line-clamp: 2; /* 최대 2줄 */
            -webkit-box-orient: vertical;
        }

        /* 삭제 체크 박스 */
        & .checkbox {
            z-index: 1000;
            top: 20px;
            right: 10px;
            width: 1.4em;
            height: 1.4em;
            border-radius: 50%;
            display: none;
            position: absolute;
            cursor: pointer;
            appearance: none;
            -webkit-appearance: none;
            background-color: #fff;
            border: 1px solid gray;
            transform: translateY(-50%);

            &:checked {
                background-color: #0078D4;

                &::after {
                    content: "✓";
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    color: #fff;
                    font-size: 0.9em;
                    line-height: 1;
                }
            }
        }
    }
}

/* 라이트박스 설정 */
#lightbox {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 9999;
    position: fixed;
    display: none;
    background-color: rgba(0, 0, 0, 0.694);

    &.active {
        display: block;
    }

    & #lightboxImage {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        max-width: 90%;
        max-height: 90vh;
        border: 3px solid #eee;
        object-fit: contain;
    }

    & #closeButton {
        position: absolute;
        top: 20px;
        right: 20px;
        height: 88px;
        width: 88px;
        background: none;
        border: none;
        cursor: pointer;

        & img {
            height: 50px;
            width: 80px;
        }
    }
}

/* 삭제 버튼 클릭 시 활성화 */
.gallery.delete-mode {
    & .cardGallery.selected {
        box-shadow: 0 0 10px 1px #fff;
    }
    
    & .checkbox {
        display: block;
    }
}

header.delete-mode {
    & .galleryMenu {
        & .bottonUpload {
            display: none;
        }

        & .confirm-delete {
            display: flex;
        }
    }
    
    & .del-button {
        width: 80px;
        height: 50px;
        top: 10px;
        right: -25px;
        transform: none;
        position: fixed;
        background: none;
    
        & .img {
            height: 50px;
            width: 80px;
            left: -17px;
            position: relative;
        }
    }
}